/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  background: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  color: #000000;
}

a, a:visited {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer !important;
}

a:hover {
  color: #00bdf4;
}

/* Header */
header {
  width: 100%;
  height: 140px;
  background: #ffffff;
  text-align: left;
  top: 0;
  padding-top: 50px;
}

#inner-wrapper {
  width: 900px;
  margin: 0 auto;
}

#logo {
  width: 100%;
  padding: 0px;
  float: left;
}

#nav {
  float: right;
  padding-top: 50px;
  padding-right: 125px;
}

#nav ul {
  list-style-type: none;
  padding: 10px 0;
  word-spacing: 5px;
  margin-bottom: 0px;
}

#nav ul li {
  font-size: 31px;
  line-height: 25px;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;

}

#nav ul li.active a {
  color: #00bdf4;
  font-weight: bold;
}



/* Content */

#content {
  width: 900px;
  background: #ffffff;
  margin: 50px auto 0 auto;

}

#container {
    font-size: 11px;
    width: 900px;
    margin: 0 auto;
}


/* Button */
.button-wrapper {
  width: 100%;
  margin: 100px;
  padding-left: 50px;
  float: center;
  height: 100%;
}

.button {
  width: 150px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  margin-right: 50px;
  transition: all 200ms ease-in-out;
}

.one {
  color: #fff;
  border-radius: 50px;
  background: #000;
}

  .one:hover {
    color: #ffffff;
    background: #00bdf4;
  }

/* Footer */

.footer {
  background: #000;
  min-height: 20px; 
  color: white; 
  padding: 20px 0;
  margin-top: 1500px; 
  width: 100%;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
  border-top: 2px solid #00bdf4;
}

/* RESUME STYLING */

.contact-info,
.website {
  float: left;
  font-size: 12px;
  line-height: 18px;
  margin-top: -2px;
}

.email {
  margin-top: 10px;
}

.extension {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  font-style: italic;
}

.website {
  float: right;
  font-weight: bold;
  background: #07aab0;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 30px;
  padding: 0 15px;
  border-radius: 15px;
  border-right: 3px solid #069196;
  border-bottom: 3px solid #069196;
}

.website:hover {
  background: #0cc3c9;
  border-right: 3px solid #027b7f;
  border-bottom: 3px solid #027b7f;

}

.website:active {
  border: none;
  margin: 1px 0 0 1px;
}

.bio {
  font-size: 12px;
  margin-bottom: 50px;
}

/* Content */

.left-column,
.right-column {
  width: 45%;
  float: left;
}

.left-column {
  margin-right: 10%;
}

.experience,
.education {
  margin-bottom: 100px;
}

h2 {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  border-top: 2px solid #333333;
  border-bottom: 1px solid #333333;
  padding:10px 0;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.employer,
.school {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 5px;
  font-weight: bold;
}

.city {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 20px;
  font-weight: normal;
}

.role {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.description p,
.affiliations p {
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 20px;
}

.affiliations p {
  margin-bottom: 15px;
}

h3 {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 5px;
}

.skillset-left,
.skillset-right {
  list-style-type: none;
  padding: 0;
  float: left;
  width: 48%;
}

.skillset-left {
  margin-right: 4%;
}

.skillset-left li,
.skillset-right li {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 5px;
}
