/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  background: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  color: #000000;
}

a, a:visited {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer !important;
}

a:hover {
  color: #00bdf4;
}

/* Header */
header {
  width: 100%;
  height: 140px;
  background: #ffffff;
  text-align: left;
  top: 0;
  padding-top: 50px;
}

#inner-wrapper {
  width: 900px;
  margin: 0 auto;
}

#logo {
  width: 100%;
  padding: 0px;
  float: left;
}

#nav {
  float: right;
  padding-top: 50px;
  padding-right: 125px;
}

#nav ul {
  list-style-type: none;
  padding: 10px 0;
  word-spacing: 5px;
  margin-bottom: 0px;
}

#nav ul li {
  font-size: 31px;
  line-height: 25px;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;

}

#nav ul li.active a {
  color: #00bdf4;
  font-weight: bold;
}



/* Content */

#content {
  width: 900px;
  background: #ffffff;
  margin: 50px auto 0 auto;
}

#container {
    width: 900px;
    margin: 0 auto;
}


/* Button */
.button-wrapper {
  width: 100%;
  margin: 100px;
  padding-left: 50px;
  float: center;
  height: 100%;
}

.button {
  width: 150px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  margin-right: 50px;
  transition: all 200ms ease-in-out;
}

.one {
  color: #fff;
  border-radius: 50px;
  background: #000;
}

  .one:hover {
    color: #ffffff;
    background: #00bdf4;
  }

/* Footer */

.footer {
  background: #000;
  min-height: 20px; 
  color: white; 
  padding: 20px 0;
  margin-top: 500px; 
  width: 100%;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
  border-top: 2px solid #00bdf4;
}


